name: Build - Python macOS

on:
  workflow_dispatch:

jobs:
  build:
    name: Build for Python ${{ matrix.python-version }}
    runs-on: macos-15

    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    continue-on-error: true

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install OpenMP (required by faiss)
        run: |
          brew install libomp

      - name: Install cxxbridge (required to build shim)
        run: |
          cargo install cxxbridge-cmd

      - name: Install Python dependencies
        working-directory: ${{ github.workspace }}/bindings/python
        run: |
          python -m venv .venv
          source .venv/bin/activate
          pip install maturin delocate

      - name: Build wheel
        working-directory: ${{ github.workspace }}/bindings/python
        run: |
          source .venv/bin/activate
          ../../scripts/set-crate-type.sh cdylib
          maturin build --out ./dist
        env:
          OpenMP_ROOT: /opt/homebrew/opt/libomp

      - name: Delocate wheel
        working-directory: ${{ github.workspace }}/bindings/python
        run: |
          source .venv/bin/activate
          mkdir -p wheelhouse
          delocate-wheel dist/*.whl -w wheelhouse
          delocate-listdeps wheelhouse/*.whl
          WHEEL_NAME=$(basename wheelhouse/*.whl)
          echo "WHEEL_FILENAME=$WHEEL_NAME" >> $GITHUB_ENV

      - name: Upload wheel artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.WHEEL_FILENAME }}
          path: ${{ github.workspace }}/bindings/python/wheelhouse/${{ env.WHEEL_FILENAME }}
