name: Build - Node.js macOS

on:
  workflow_call:
    inputs:
      publish:
        type: boolean
        required: false
        description: 'Publish package to NPM'
  workflow_dispatch:
    inputs:
      publish:
        type: boolean
        required: false
        description: 'Publish package to NPM'

env:
  NODE_VERSION: "20.19.4"

jobs:
  build:
    runs-on: macos-15
    outputs:
      package_name: ${{ steps.create-package.outputs.package_name }}

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: 'https://registry.npmjs.org'

      - name: Install OpenMP (required by faiss)
        run: |
          brew install libomp

      - name: Install dependencies
        working-directory: ${{ github.workspace }}/bindings/nodejs
        run: |
          npm install

      - name: Build binary
        working-directory: ${{ github.workspace }}/bindings/nodejs
        run: |
          npm run build:napi
          mv ./src/ailoy_core.darwin-arm64.node ./npm/darwin-arm64/
          node scripts/bundle-dylibs.js ./npm/darwin-arm64/ailoy_core.darwin-arm64.node
        env:
          OpenMP_ROOT: /opt/homebrew/opt/libomp
      
      - name: Create a package
        id: create-package
        working-directory: ${{ github.workspace }}/bindings/nodejs/npm/darwin-arm64
        run: |
          npm pack
          PACKAGE_NAME=$(ls -1t ailoy-node-*.tgz | head -n 1)
          echo "PACKAGE_NAME=$PACKAGE_NAME"
          echo "package_name=$PACKAGE_NAME" >> $GITHUB_OUTPUT

      - name: Upload npm package
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.create-package.outputs.package_name }}
          path: ${{ github.workspace }}/bindings/nodejs/npm/darwin-arm64/${{ steps.create-package.outputs.package_name }}

  publish:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ inputs.publish }}
    permissions:
      id-token: write

    steps:
      - uses: actions/setup-node@v6
        with:
          registry-url: 'https://registry.npmjs.org'

      - name: Download wheel artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.build.outputs.package_name }}
          path: dist

      - name: Publish package to NPM
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 3
          retry_wait_seconds: 30
          command: |
            npm publish --access=public dist/${{ needs.build.outputs.package_name }}
