name: Build - Node.js All Platforms

on:
  workflow_call:
    inputs:
      publish:
        type: boolean
        required: false
        description: 'Publish package to NPM'
  workflow_dispatch:
    inputs:
      publish:
        type: boolean
        required: false
        description: 'Publish package to NPM'

permissions:
  id-token: write
  contents: read
  packages: read

env:
  NODE_VERSION: "20.19.4"

jobs:
  # Build platform-specific packages
  build-linux:
    uses: ./.github/workflows/build_nodejs_linux.yaml
    with:
      publish: ${{ inputs.publish }}
    secrets: inherit

  build-macos:
    uses: ./.github/workflows/build_nodejs_macos.yaml
    with:
      publish: ${{ inputs.publish }}
    secrets: inherit

  build-windows:
    uses: ./.github/workflows/build_nodejs_windows.yaml
    with:
      publish: ${{ inputs.publish }}
    secrets: inherit

  # Build main package
  build-main:
    runs-on: ubuntu-latest
    needs: [build-linux, build-macos, build-windows]
    outputs:
      package_name: ${{ steps.build-package.outputs.package_name }}

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        working-directory: ${{ github.workspace }}/bindings/nodejs
        run: |
          npm install

      - name: Build package
        id: build-package
        working-directory: ${{ github.workspace }}/bindings/nodejs
        run: |
          npm run build:ts
          npm pack
          PACKAGE_NAME=$(ls -1t ailoy-*.tgz | head -n 1)
          echo "PACKAGE_NAME=$PACKAGE_NAME"
          echo "package_name=$PACKAGE_NAME" >> $GITHUB_OUTPUT

      - name: Upload npm package
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.build-package.outputs.package_name }}
          path: ${{ github.workspace }}/bindings/nodejs/${{ steps.build-package.outputs.package_name }}

  publish-main:
    runs-on: ubuntu-latest
    needs: build-main
    if: ${{ inputs.publish }}
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/setup-node@v6
        with:
          registry-url: 'https://registry.npmjs.org'

      - name: Download wheel artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ needs.build-main.outputs.package_name }}
          path: dist

      - name: Publish package to NPM
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 10
          max_attempts: 3
          retry_wait_seconds: 30
          command: |
            npm publish --access=public ${{ github.workspace }}/dist/${{ needs.build-main.outputs.package_name }}
