name: Build - Python Linux

on:
  workflow_dispatch:
    inputs:
      publish:
        type: boolean
        required: false
        description: 'Publish package to PyPI'

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/brekkylab/ailoy-buildpack-linux:20251126
    env:
      PYTHON_BIN: /opt/python/cp310-cp310/bin
    permissions:
      id-token: write

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Install cxxbridge (required to build shim)
        run: |
          cargo install cxxbridge-cmd@1.0.189

      - name: Install maturin
        working-directory: bindings/python
        run: |
          # maturin does not work outside virtualenv, so prepare one
          $PYTHON_BIN/python -m venv .venv
          source .venv/bin/activate
          ../../scripts/set-crate-type.sh cdylib
          pip install maturin

      - name: Build wheel
        working-directory: bindings/python
        run: |
          source .venv/bin/activate
          maturin build --out ./dist
        env:
          OPENSSL_DIR: /opt/openssl
          VULKAN_SDK: /opt/vulkan-sdk
          LD_LIBRARY_PATH: /opt/lapack/lib:/opt/vulkan-sdk/lib

      - name: Repair wheel
        working-directory: bindings/python
        run: |
          mkdir -p wheelhouse
          auditwheel repair dist/*.whl -w wheelhouse \
            --plat manylinux_2_28_x86_64 \
            --exclude libvulkan.so.*
          auditwheel show wheelhouse/*.whl
          WHEEL_NAME=$(basename wheelhouse/*.whl)
          echo "WHEEL_FILENAME=$WHEEL_NAME" >> $GITHUB_ENV

      - name: Upload wheel artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.WHEEL_FILENAME }}
          path: bindings/python/wheelhouse

      - name: Publish wheel to PyPI
        if: ${{ inputs.publish }}
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: ${{ github.workspace }}/bindings/python/wheelhouse/
