name: Node macOS Build

on:
  workflow_dispatch:

env:
  NODE_VERSION: "20.19.4"

jobs:
  build-macos:
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install LLVM (Homebrew Clang)
        run: |
          brew install llvm
          echo "CC=$(brew --prefix llvm)/bin/clang" >> $GITHUB_ENV
          echo "CXX=$(brew --prefix llvm)/bin/clang++" >> $GITHUB_ENV
          echo "LDFLAGS=-L$(brew --prefix llvm)/lib" >> $GITHUB_ENV
          echo "CPPFLAGS=-I$(brew --prefix llvm)/include" >> $GITHUB_ENV
          echo "PATH=$(brew --prefix llvm)/bin:$PATH" >> $GITHUB_ENV

      - name: Install OpenMP (required by faiss)
        run: |
          brew install libomp

      - name: Install cxxbridge (required to build shim)
        run: |
          cargo install cxxbridge-cmd

      - name: Install dependencies
        working-directory: ${{ github.workspace }}/bindings/nodejs
        run: |
          npm install

      - name: Build package
        working-directory: ${{ github.workspace }}/bindings/nodejs
        run: |
          npm run build
          node scripts/bundle-dylibs.js ./dist/ailoy_core.linux-x64-gnu.node
          npm pack
          PACKAGE_NAME=$(ls -1t ailoy-*.tgz | head -n 1)
          echo "PACKAGE_NAME=$PACKAGE_NAME"
          echo "PACKAGE_NAME=$PACKAGE_NAME" >> $GITHUB_ENV
        env:
          OpenMP_ROOT: /opt/homebrew/opt/libomp

      - name: Upload npm package
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE_NAME }}
          path: ${{ github.workspace }}/bindings/nodejs/${{ env.PACKAGE_NAME }}
