name: Build - Node.js Linux

on:
  workflow_dispatch:
  
env:
  NODE_VERSION: "20.19.4"

jobs:
  build-linux:
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/brekkylab/ailoy-buildpack-linux:20251126

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Install cxxbridge (required to build shim)
        run: |
          cargo install cxxbridge-cmd

      - name: Install dependencies
        working-directory: ${{ github.workspace }}/bindings/nodejs
        run: |
          npm install

      - name: Build binary
        working-directory: ${{ github.workspace }}/bindings/nodejs
        run: |
          ../../scripts/set-crate-type.sh cdylib
          npm run build:napi
          mv ./src/ailoy_core.linux-x64-gnu.node ./npm/linux-x64-gnu
          node scripts/bundle-dylibs.js ./npm/linux-x64-gnu/ailoy_core.linux-x64-gnu.node
        env:
          OPENSSL_DIR: /opt/openssl
          VULKAN_SDK: /opt/vulkan-sdk
          LD_LIBRARY_PATH: /opt/lapack/lib:/opt/vulkan-sdk/lib
          RUSTFLAGS: -L/opt/rh/gcc-toolset-14/root/lib/gcc/x86_64-redhat-linux/14

      - name: Create a package
        working-directory: ${{ github.workspace }}/bindings/nodejs/npm/linux-x64-gnu
        run: |
          npm pack
          PACKAGE_NAME=$(ls -1t ailoy-*.tgz | head -n 1)
          echo "PACKAGE_NAME=$PACKAGE_NAME"
          echo "PACKAGE_NAME=$PACKAGE_NAME" >> $GITHUB_ENV

      - name: Upload npm package
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE_NAME }}
          path: ${{ github.workspace }}/bindings/nodejs/npm/linux-x64-gnu/${{ env.PACKAGE_NAME }}
