name: Build - Web

on:
  workflow_dispatch:

env:
  NODE_VERSION: "20.19.4"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Set up Docker
        uses: docker/setup-docker-action@v4
      
      - name: Install wasm-pack
        run: |
          cargo install wasm-pack

      - name: Create package
        working-directory: ${{ github.workspace }}/bindings/web
        run: |
          ../../scripts/set-crate-type.sh cdylib
          npm install
          npm run build
          npm pack
          PACKAGE_NAME=$(ls -1t ailoy-web-*.tgz | head -n 1)
          echo "PACKAGE_NAME=$PACKAGE_NAME"
          echo "PACKAGE_NAME=$PACKAGE_NAME" >> $GITHUB_ENV

      - name: Upload npm package
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE_NAME }}
          path: ${{ github.workspace }}/bindings/web/${{ env.PACKAGE_NAME }}
