name: Build - Node.js macOS

on:
  workflow_dispatch:
    inputs:
      publish:
        type: boolean
        required: false
        description: 'Publish package to NPM'

env:
  NODE_VERSION: "20.19.4"

jobs:
  build-macos:
    runs-on: macos-15

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          registry-url: 'https://registry.npmjs.org'

      - name: Install OpenMP (required by faiss)
        run: |
          brew install libomp

      - name: Install cxxbridge (required to build shim)
        run: |
          cargo install cxxbridge-cmd@1.0.189

      - name: Install dependencies
        working-directory: ${{ github.workspace }}/bindings/nodejs
        run: |
          npm install

      - name: Build binary
        working-directory: ${{ github.workspace }}/bindings/nodejs
        run: |
          ../../scripts/set-crate-type.sh cdylib
          npm run build:napi
          mv ./src/ailoy_core.darwin-arm64.node ./npm/darwin-arm64/
          node scripts/bundle-dylibs.js ./npm/darwin-arm64/ailoy_core.darwin-arm64.node
        env:
          OpenMP_ROOT: /opt/homebrew/opt/libomp
      
      - name: Create a package
        working-directory: ${{ github.workspace }}/bindings/nodejs/npm/darwin-arm64
        run: |
          npm pack
          PACKAGE_NAME=$(ls -1t ailoy-*.tgz | head -n 1)
          echo "PACKAGE_NAME=$PACKAGE_NAME"
          echo "PACKAGE_NAME=$PACKAGE_NAME" >> $GITHUB_ENV

      - name: Upload npm package
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PACKAGE_NAME }}
          path: ${{ github.workspace }}/bindings/nodejs/npm/darwin-arm64/${{ env.PACKAGE_NAME }}

      - name: Publish package to NPM
        if: ${{ inputs.publish }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.AILOY_NPM_TOKEN }}
        run: |
          npm publish --access=public ${{ github.workspace }}/bindings/nodejs/npm/darwin-arm64/${{ env.PACKAGE_NAME }}
